@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.7) url("../images/background.jpg");
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.calculator {
  width: 30%;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 140px 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
