@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/background.jpg");
  height: 100vh;
  overflow: hidden;
}
.calculator {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: rgb(96, 29, 29);
  border: 1px solid black;
}
